
nav {
    float: left;
    width: 30%;
    height: 100px; 
    /* only for demonstration, should be removed */
    background: #ccc; 
    padding: 20px;
  };

  header {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
    /* only for demonstration, should be removed */
  }

  #login-form{
    margin: auto;
    border: 10px solid green;
    padding: 10px;
    position: absolute;
    right: 550px;
    width: 600px;
    transform: translate(30%, 10%);
    background-image: url();
    /* Find a background-image */
  }

  #button-container{
    padding: 80px 0;
    text-align: center;
  }

  #provider-select-container{
    padding: 20px 0;
    text-align: center;
  }

  #welcome-text{
    text-align: center;
  }

  #edit-profile-form{
    transform: translate(-60%, -9%);
  }

  /* #provider-name{
    transform: translate(-90%, -9%)
  } */


  